<div><%= _('Hello') %></div>
<%= link_to _('Hello') %>
<%= link_to _('hi'), title: _('Hello2') %>
<textarea placeholder="<%= _('my_text') %>"></textarea>
<input placeholder="<%= _('my_text') %>">
<button aria-label="<%= _('A_label') %>"><%= _('button_body') %></button>
